ion-content {
   --background: linear-gradient(180deg, rgba(52,52,232,1) 34%, rgba(0,212,255,1) 100%);
}

ion-button {
   padding-top: 2rem;
}
div {
   background: rgb(52,52,232);
   background: linear-gradient(180deg, rgba(52,52,232,1) 34%, rgba(0,212,255,1) 100%);
   text-align: center;
 }

ion-card {
   margin: 100px 20px;
   border-radius: 20px;
}

ion-card-header {
   display: flex;
   flex-direction: row;
   gap: 50px;
}

#signup-button, #login-button {
   max-width: 50%;
   margin: 0 auto;
   padding-top: 0;
}

#iniciar-sesion-boton {
   text-align: center;
}




