ion-content {
    --background: linear-gradient(180deg, rgba(52,52,232,1) 34%, rgba(0,212,255,1) 100%);
 }
 
 div {
    text-align: center;
  }

  h2 {
    margin-top: 5rem;
    margin-right: 20px;
    margin-left: 20px;
  }
 
 ion-card {
    margin: 50px 20px;
    border-radius: 20px;
 }
 
 ion-card-header {
    display: flex;
    flex-direction: row;
    gap: 50px;
 }
 
 #signup-button, #login-button {
    max-width: 50%;
    margin: 0 auto;
    padding-top: 0;
 }
 
 #iniciar-sesion-boton {
    text-align: center;
    margin-top: 15px;
 }
 
 #cuenta {
    margin-top: 10px;
    text-align: end;
 }

 
 
 
 