ion-content {
    --background: linear-gradient(180deg, rgba(52,52,232,1) 34%, rgba(0,212,255,1) 100%);
 }
 
#iniciar-sesion-boton {
    padding-top: 2rem;
    text-align: center;
 }
 
 ion-card {
    margin: 100px 20px;
    border-radius: 20px;
    padding-top: 30px;
 }
 
 ion-card-header {
    display: flex;
    flex-direction: row;
    gap: 50px;
 }

 ion-card-title {
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
 }

 #noti {
    text-align: center;
    font-size: 25px;
    margin-top: 2rem;
    line-height: 3rem;
 }

 #info {
    text-align: center;
    margin: 2rem 10px;
    font-size: 20px;
    line-height: 2.5rem;
 }
 
 
 
 
 